html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: grey;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 50px;
    grid-template-areas:
        "aside main"
        "foot  foot";
}

aside {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(215,215,215,1) 90%, rgba(255,255,255,1) 100%);;
    grid-area: aside;
    padding: 10px;
    border-right: 1px solid rgb(68,68,68);
}

main {
    display: flex;
    background: radial-gradient(ellipse at center, rgba(171,171,171,1) 0%, rgba(74,74,74,1) 100%);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.result {
    width: 200px;
    height: 50px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(215,215,215,1) 90%, rgba(255,255,255,1) 100%);;
    border: solid 2px;
    background-clip: padding-box;
    border-image: url("img/search-border.png") 2 stretch;
    margin: 100px;
}

.result p {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

footer {
    border-top: 1px solid rgb(68,68,68);
    background-color: lightgreen;
    grid-area: foot;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(215,215,215,1) 90%, rgba(255,255,255,1) 100%);;
}

footer p {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.search-option {
    position: relative;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(215,215,215,1) 90%, rgba(255,255,255,1) 100%);;
    border: solid 2px;
    background-clip: padding-box;
    border-image: url("img/search-border.png") 2 stretch;
    margin-bottom: 10px;
}

.sep {
    display: block;
    background-color: rgb(68,68,68);
    height: 1px;
    margin: 4px -1px;
}

input[type=checkbox] {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

input[type=checkbox] + label {
    margin-top: 3px;
    background-image: url("img/ckeckbox.png");
    user-select: none;
	padding-left: 20px;
	height: 20px;
	display: inline-block;
	line-height: 20px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 15px;
	vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
}

input[type=checkbox]:checked + label {
	background-position: 0 -20px;
}

input[type=text] {
    margin: 10px auto;
    border-radius: 0.2rem;
    padding: 4px 0;
    width: 80%;
    display: block;
}

input[type=number] {
    margin: 10px auto 10px auto;
    border-radius: 0.2rem;
    display: block;
    width: 80%;
}

input[type=submit] {
    font-family: 'Roboto';
    font-size: 1em;
    display: block;
    margin: 10px auto;
    width: 50%;
    height: 40px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(215,215,215,1) 90%, rgba(255,255,255,1) 100%);;
    border: solid 2px;
    background-clip: padding-box;
    border-image: url("img/search-border.png") 2 stretch;
}
